.jobcard {
  border: 1px solid #9f8f71;
  border-radius: 25px;
  width: 900px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  background-color: #cbbaa450;
  margin-bottom: 50px;
  margin-left: 15%;
  font-weight: bold;
}

.piechart {
  height: 60px;
  width: 60px;
  padding: 10px;
  
}

.demographics {
  text-align: left;
  display: flex;
  position: relative;
}

.percentage {
  margin-top: 30px;
  margin-left: 10px;
  width: 650px;
}

.apply {
  background-color: #dba66e50;
  border: 1px solid #dba66e;
  padding: 12px 20px;
  text-align: center;
  padding-top: 15px;
  text-decoration: none;
  cursor: pointer;
  color: #dba66e;
  font-family: 'Cutive Mono', monospace;
  font-size: 1.3rem;
  align-self: right;
  position: absolute;
  border-radius: 25px;
  height: 30px;
  bottom: 10px;
  right: 5px;
  margin-left: 10px;
}