@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cutive+Mono&family=Marcellus&family=Satisfy&display=swap');
.mentee {
  text-align: center;
  margin-top: 50px;
  margin-left: 62px;

  font-family: 'Cutive Mono', monospace;
  font-size: 1.3rem;
  color:#9f8f71;
}

.header {
  font-size: 80px;
}

.carousel-card {
  word-wrap: break-word;
  width: 300px;
  border: 1px solid #9f8f71;;
  padding: 20px;
  border-radius: 25px;
}

.carousel-card h3{
  font-family: 'Berkshire Swash', cursive;
}

.carousel-card p{
  font-family: 'Cutive Mono', monospace;
}