.mentee {
  text-align: center;
  margin-top: 50px;
  margin-left: 62px;

  font-family: 'Cutive Mono', monospace;
  font-size: 1.3rem;
  color:#9f8f71;
}

.header {
  font-size: 80px;
}

.carousel-card {
  word-wrap: break-word;
  width: 300px;
  border-radius: 25px;
  padding: 10px;
  background-color: #9f8f7150;
  text-align: center;
}

.internship-blurb {
  width: 900px;
  margin-left: 16%;
}

.filter {
  background-color: #9f8f7150;
  border: #9f8f71;
  color: #9f8f71;
  border-radius: 25px;
  height: 30px;
  width: 80px;
  padding: 5px;
  margin-left: 10px;
}