.search {
    width: 30%;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #9f8f71;
    border-radius: 5px;
    font-size: 15px;
    height: 20px;
    color: #9f8f71;

}