@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cutive+Mono&family=Marcellus&family=Satisfy&display=swap');

nav{
    display:flex;
    align-items: center;
    justify-content:space-between;
    background:#eee8de;
}

#navbar{
    display:flex;
    align-items:center;
    justify-content:center;
}

li{
    font-family: 'Cutive Mono', monospace;
    font-size: 1.3rem;
    color:#9f8f71;
    font-size: 1.3rem;
    font-weight:600;

}
#navbar li {
    list-style: none;
    padding:0 20px;
    position:relative;
}

#navbar li a{
    text-decoration:none;
    font-size: 1.3rem;
    font-weight:600;
    color:#9f8f71;
    font-family: 'Cutive Mono', monospace;
}

#navbar li a:hover{
    color: #685d4a;
}