@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cutive+Mono&family=Marcellus&family=Satisfy&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.missionStatement{
  padding:20px;
  align-items:center;
  position:absolute;
  top: 15vh;
  bottom: 0;
  left: 0;
  right:0; 
}

h3{
  font-family: 'Satisfy', cursive;
  font-size: 3vh;
  text-align:center;
}

h3, missionStatement{
  font-size:5rem;
  padding-left:10vw;
}

img{
  height:55vh;
  width:50vw;
  display:inline-block;
}

missionStatement, squash, image{
  padding-left:10vw;
  padding-right:10vw;
}

p{
  padding:5vh;
  font-family: 'Cutive Mono', monospace;
  font-size: 1.3rem;
  color:#9f8f71;
  padding-left:10vw;
  padding-right:10vw;
}

.squash{
  padding-top:10vh;
}