.jobcard {
  border: 1px black solid;
  border-radius: 25px;
  width: 800px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 20px;
}

.piechart {
  height: 60px;
  width: 60px;
  padding: 10px;
  
}

.demographics {
  text-align: left;
  display: flex;
}

.percentage {
  margin-top: 30px;
  margin-left: 10px;
}