.matching {
    text-align: center;
    margin-top: 50px;
    margin-left: 62px;

    font-family: 'Cutive Mono', monospace;
    font-size: 1.3rem;
    color:#9f8f71;
}

.header {
    font-size: 80px;
  }

.title {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 1.3rem;
}

input[type=text] {
    border-color: lightgray;
    border: solid 1px;
    margin: 20px;
    
}

.formcontainer {
    border: solid 1px;
    width: 50%;
    text-align: left;
    padding: 30px;
    border-radius: 7%;
    height: 650px;
    margin: 30px;
    margin-left: 21%;

}

input[type=submit] {
    font-family: 'Cutive Mono', monospace;
    font-size: 20px;
    border:#9f8f71
}

.role {
    margin-bottom: 20px;
}

.role-label {
    margin-right: 15px;
}

.submit {
    margin-top: 20px;
    margin-left: 85%;
    background-color: #9f8f7150;
    right: 10px;
    bottom: 10px;
}

.submit :hover{
    cursor: pointer;
}

.matching-blurb {
    width: 900px;
    margin-left: 16%;
  }
  
