.matching {
    text-align: left;
    margin-left: 50px;
}

input[type=text] {
    border-color: lightgray;
    border: solid 1px;
    margin: 20px;
    
}

.formcontainer {
    border: solid 1px;
    width: 50%;
    text-align: left;
    padding: 30px;
    border-radius: 7%;
    height: 500px;
    margin: 30px;

}

