.matching {
    text-align: left;
    margin-top: 50px;
    margin-left: 62px;

    font-family: 'Cutive Mono', monospace;
    font-size: 1.3rem;
    color:#9f8f71;
}

input[type=text] {
    border-color: lightgray;
    border: solid 1px;
    margin: 20px;
    
}

.formcontainer {
    border: solid 1px;
    width: 50%;
    text-align: left;
    padding: 30px;
    border-radius: 7%;
    height: 600px;
    margin: 30px;

}

input[type=submit] {
    font-family: 'Cutive Mono', monospace;
    font-size: 20px;
    border:#9f8f71
}

